[submodule "test/canonical/awesome-nodejs"]
	path = test/canonical/awesome-nodejs
	url = https://github.com/doapply/awesome-nodejs.git
[submodule "test/canonical/awesome"]
	path = test/canonical/awesome
	url = https://github.com/doapply/awesome.git
